# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Flask
instance/
*.db

# PyCharm
.idea/

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Operating systems
.DS_Store
Thumbs.db
